adf/arm-template/arm_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "aml-adf-ws"
        },
        "AzureDatabricks_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
        },
        "AzureMLService_servicePrincipalKey": {
            "type": "secureString",
            "metadata": "Secure string for 'servicePrincipalKey' of 'AzureMLService'"
        },
        "AzureMLService_properties_typeProperties_subscriptionId": {
            "type": "string",
            "defaultValue": "c419db98-c729-48b2-acaf-234182f61153"
        },
        "AzureMLService_properties_typeProperties_resourceGroupName": {
            "type": "string",
            "defaultValue": "MLOpsOH"
        },
        "AzureMLService_properties_typeProperties_servicePrincipalId": {
            "type": "string",
            "defaultValue": "9ac9682e-65fc-4750-ac84-78a1df9f0adb"
        },
        "AzureMLService_properties_typeProperties_tenant": {
            "type": "string",
            "defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "AMLTrigger_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/c419db98-c729-48b2-acaf-234182f61153/resourceGroups/MLOpsOH/providers/Microsoft.Storage/storageAccounts/smvmlacramlsa"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/data-ingestion-pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Data Ingestion Pipeline\n",
                "activities": [
                    {
                        "name": "PrepareData",
                        "description": "Data processing",
                        "type": "DatabricksNotebook",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Shared/devops-ds/data-prepare",
                            "baseParameters": {
                                "data_file_name": {
                                    "value": "@variables('data_file_name')",
                                    "type": "Expression"
                                },
                                "input_mount_point_name": {
                                    "value": "@variables('input_mount_point_name')",
                                    "type": "Expression"
                                },
                                "training_mount_point_name": {
                                    "value": "@variables('training_mount_point_name')",
                                    "type": "Expression"
                                },
                                "testing_mount_point_name": {
                                    "value": "@variables('testing_mount_point_name')",
                                    "type": "Expression"
                                },
                                "adf_run_id": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            "libraries": [
                                {
                                    "pypi": {
                                        "package": "lightgbm"
                                    }
                                }
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "databricks_cluster_id": "0422-164410-befit80"
                            }
                        }
                    },
                    {
                        "name": "ML Execute Pipeline",
                        "type": "AzureMLExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "PrepareData",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "experimentName": "mlopspython",
                            "mlPipelineParameters": {
                                "caller_run_id": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                },
                                "data_file_path": {
                                    "value": "@concat(pipeline().RunId,'/',variables('data_file_name'))",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureMLService",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "variables": {
                    "data_file_name": {
                        "type": "String",
                        "defaultValue": "porto_seguro_safe_driver_prediction_input.csv"
                    },
                    "input_mount_point_name": {
                        "type": "String",
                        "defaultValue": "/mnt/inputdata"
                    },
                    "training_mount_point_name": {
                        "type": "String",
                        "defaultValue": "/mnt/trainingdata"
                    },
                    "testing_mount_point_name": {
                        "type": "String",
                        "defaultValue": "/mnt/testingdata"
                    },
                    "ml_pipeline_id": {
                        "type": "String",
                        "defaultValue": "b07adefa-f77a-4b5f-be8d-1d0ec6b4ab5d"
                    },
                    "databricks_cluster_id": {
                        "type": "String",
                        "defaultValue": "0304-001904-vest3"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2021-04-22T18:25:20Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureMLService')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "databricks_cluster_id": {
                        "type": "string",
                        "defaultValue": "0422-164410-befit80"
                    }
                },
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-990031834858934.14.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDatabricks_accessToken')]"
                    },
                    "existingClusterId": "@linkedService().databricks_cluster_id"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureMLService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureMLService",
                "typeProperties": {
                    "subscriptionId": "[parameters('AzureMLService_properties_typeProperties_subscriptionId')]",
                    "resourceGroupName": "[parameters('AzureMLService_properties_typeProperties_resourceGroupName')]",
                    "mlWorkspaceName": "smvenkatws",
                    "servicePrincipalId": "[parameters('AzureMLService_properties_typeProperties_servicePrincipalId')]",
                    "servicePrincipalKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureMLService_servicePrincipalKey')]"
                    },
                    "tenant": "[parameters('AzureMLService_properties_typeProperties_tenant')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AMLTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "data-ingestion-pipeline",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/inputdata/blobs/",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('AMLTrigger_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/data-ingestion-pipeline')]"
            ]
        }
    ]
}